* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('./asserts/bg-home.png');
  background-size: cover;
}

.navbar,
.loginEmail {
  background: rgba(255, 255, 255, 0.28) !important;
  border-radius: 2%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(26.7px);
  -webkit-backdrop-filter: blur(26.7px);
  border: 1px solid rgba(255, 255, 255, 0.568);
}

.navbar-brand {
  display: flex !important;
  justify-content: left;
}

.navbar-brand div {
  padding: 0.5rem;
  position: relative;
  top: -3.5px;
}

.textDiv {
  width: 70%;
  padding: 4rem 0rem;
  padding-left: 4rem;
}

.animate-character {
  margin-top: 4rem;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 4rem;
  font-weight: bolder;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url('./asserts/bg-fone.png');
    background-size: cover;
  }

  .animate-character {
    font-size: 3rem;
  }
}